.dropdown-container {
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width:500px;
    top: -90px;
    position: relative;
    background-color:rgba(59, 59, 59, 0.055);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    transition: all 1000ms ease-in-out;
}

.dropdown-active {
    top: 0;
    height: auto;
    opacity: 1;
}

h2, h3 {
    text-align: center;
    width: 100%;
    margin: 10px;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-size: 13px;
    font-weight: 400;
}

.signup-btn {
    padding: 5px;
    margin: 10px;
    width: 125px;
    height: 20px;
    background-color:rgba(59, 59, 59, 0.100);
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.signin-or {
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin: 0;
}