.player-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:500px;
    background-color:rgba(59, 59, 59, 0.055);
    font-family: Arial, Helvetica, sans-serif;

}


.label {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 11px;
    font-weight: 200;
}

.controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color:rgba(59, 59, 59, 0);
}

.rwd-fwd-svg{
    font-size: 0.5rem;
    cursor: pointer;
}

.play-pause {
   cursor: pointer;
   font-size: 0.7rem;
}

.timer-container, button {
    margin: 2px;
}
.timer{
    height: 11px;
    text-align: right;
    min-width: 10%;
    margin: 5px;
    cursor: pointer;
    font-size: 0.7rem;
}

.progress {
    width: 100%;
    display: flex;
    height: 11px;
    background: rgba(59, 59, 59, 0.100);
    cursor:pointer;
    border-radius: 3px;
  }
  
  .progress-filled {
    width: 50%;
    background: rgba(59, 59, 59, 0.5);
    flex: 0;
    flex-basis: 0%;
    margin: 3px;
  }

  .progress-container {
      width:50%;
  }