.player-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



.label {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.play-toggle-container{
    align-items: center;
    padding: 3px;
    width: 15%;
}

.range-container {
    width: 35%;
}

.timer-container {
    width: 25%;
} 

button {
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
}