.player-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:650px;
    height: 55px;
    background-color:rgba(59, 59, 59, 0.055);
    color: rgba(59, 59, 59, 0.900);
    font-family: Arial, Helvetica, sans-serif;
}

.label {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 0.8rem;
    font-weight: 200;
    font-style: italic;
}

.controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color:rgba(59, 59, 59, 0);
}

.rwd-fwd {
    padding: 0;
}

.rwd-fwd-svg{
    color: rgba(59, 59, 59, 0.900);
    font-size: 0.8rem;
    cursor: pointer;
    padding: 3px;
    margin: 2px;
}

.play-pause {
   color: rgba(59, 59, 59, 0.900);
   cursor: pointer;
   font-size: 1rem;
}

.timer-container, button {
    margin: 2px;
}
.timer{
    height: 11px;
    text-align: right;
    min-width: 9%;
    margin: 5px;
    cursor: pointer;
    font-size: 0.7rem;
}

.progress {
    width: 100%;
    display: flex;
    height: 11px;
    background: rgba(59, 59, 59, 0.100);
    cursor:pointer;
    border-radius: 3px;
  }
  
  .progress-filled {
    width: 0;
    background-color: rgba(59, 59, 59, 0.5);
    margin: 3px;
  }
  
  .login-btn {
    display: flex;
    border: solid 1px;
    background-color:rgba(59, 59, 59, 0);
    cursor: pointer;
    margin-bottom: 100px;
}