html {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  background-color: lightgrey;
}

main {
  width: 100vw;
  height: 30vh;
}

.test-sdk-ctrl {
  margin-top: 30px;
  padding: 5px 20px;
  border-top: 1px solid #cccccc;
}

.test-sdk-ctrl button {
  margin: 0 5px;
}

.test-sdk-logs {
  padding: 5px;
  background-color: #cccccc;
  height: 50vh;
  overflow-y: auto;
}
